@media only screen and (max-width: 1200px){
    .container{
        padding: 0px 12px;
    }
}

@media only screen and (max-width: 850px){
    header nav ul li{
        margin-left: 16px;
        font-size: 15px;
    }

    .d_flex_container{
        flex-direction: column;
        align-items: center;
    }

    .social{
        padding: 100px 15px;
    }

}

@media  only screen and (max-width: 770px) {
    header nav li{
        display: none;
    }
    header nav li:last-child{
        display: unset;
    }
    .menu_bar{
        display: block;
        height: 30px;
        width: 30px;
    }
    .tools_container .information{
        overflow: visible;
        max-width: 65%;
        z-index: 1;
    }

    .business li{
        margin-right: 0px;
    }

    .we_use .information{
        max-width: 350px;
    }
}

@media only screen and (max-width: 580px) {
    header nav li{
        margin-left: 5px;
    }


    header nav li a{
        font-size: 10px;

    }

    h1{
        font-size: 30px;
    }

    .lorem{
        font-size: 12px;
    }

    main section h4{
        font-size: 12px;
    }

    .what-we-do .d_flex_container article img{
        max-width: 450px;

    }

    .banner_we_use{
        max-width: 40%;
    }

    .social-link{
        flex-wrap: wrap;
        justify-content: center;

    }

    .social-link a{
        max-width: 33%;
        margin-right: 20px;
        margin-bottom: 15px;
    }

    .need-help{
        font-size: 30px;
    }

    .we_use .information{
        max-width: 300px;
    }

    .we_use .information p{
        font-size: 12px;
    }

    .we_use .banner_we_use{
        max-width: 35%;
    }

    .we_use .information h3{
        font-size: 20px;
    }

}

@media only screen and (max-width: 370px) {


    .what-we-do .d_flex_container article img{
        max-width: 350px;
    }

    .we_use .information{
        max-width: 250px;
    }

    .we_use .information p{
        font-size: 12px;
    }

    .we_use .banner_we_use{
        max-width: 30%;
    }

    .we_use .information h3{
        font-size: 20px;
    }

    .social-link{
        flex-direction: column;
        align-items: center;
    }

    .social-link a{
        margin-bottom: 20px;
    }

    .image{
        margin-right: 15px;
    }

    .aperture-photo{
        margin-right: 20px;
    }
}

@media only screen and (max-width: 350px){
    .sunset{
        padding-left: 15px;
    }

    .business{
        margin-right: 20px;
    }

    .we_use .information{
        max-width: 200px;
    }

    .position-items{
        right: 0;
        margin-right: 15px;
    }

    .what-we-do .d_flex_container article img{
        max-width: 300px;
    }

    .business{
        margin-right: 8px;
    }
}

