*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #181818;
    padding: 24px 0;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

header nav li{
    margin-left: 32px;
    transition: 0.4s;
}

header nav li:hover{
    transform: scale(1.2);
}

header nav li:first-of-type a{
    font-size: 13px;
}

header nav li:first-of-type{
    margin-right: 24px;
}

header nav li:last-of-type a{
    color: black;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}

/*main-banner*/
.main-banner{

    background-image: url("../images/image.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}

.main-banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}

main section h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.position-items{
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    list-style: none;
}

.position-items li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}

.position-items li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -5px;
}

.position-items li:nth-child(2):before{
    background-image: url("../images/icon_2.svg");
}

.position-items li:nth-child(3):before{
    background-image: url("../images/icon_4.svg");
    width: 32px;
}

.position-items li:nth-child(4):before{
    background-image: url("../images/icon_3.svg");
    width: 10px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.lorem{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}

.what-we-do{
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: #000000;
}

.what-we-do .container{
    max-width: 1168px;
}

.what-we-do h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.what-we-do h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}

.d_flex_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.what-we-do .d_flex_container article{
    max-width: 576px;
    position: relative;
}

.what-we-do .d_flex_container article{
    display: block;
    max-width: 100%;
    margin-bottom: 16px;
}

.what-we-do .d_flex_container article .description{
    position: absolute;
    max-width: 100%;
    bottom: 0;
    padding: 30px 45px 30px 30px;
    box-sizing: border-box;
}

.what-we-do .d_flex_container .description h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 15px;
}

.what-we-do .d_flex_container .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}

.what-button{
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    padding-top: 9px;
    padding-bottom: 13px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.what-button:before{
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 6px;
}

.mountain{
    background-image: url("../images/image1.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 62px;
}

.sunset{
    max-width: 298px;
    margin: inherit;
}

.sunset h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sunset p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.we_use{
    background-color: black;
    position: relative;
}

.we_use .container{
    max-width: 1240px;
    min-height: 540px;
    display: flex;
    align-items: center;
}

.we_use .information{
    max-width: 514px;
}

.we_use .information h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
}

.we_use .information h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.we_use .information p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}


.we_use .banner_we_use{
    background-image: url("../images/banner_we_use.jpg");
    background-size: cover;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}

.monstera{
    background-image: url("../images/image2.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 62px;
}

.star{
    background-image: url("../images/image3.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 62px;
}

.social{
    padding-top: 120px;
    padding-bottom: 100px;
    background: #000000;
    border-radius: 0px;
}

.social-container{
    margin: auto;
    max-width: 1200px;
    text-align: center;
}
.social-client{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.paragraph-social{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 111px;
}

.social-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help{
    padding-top: 120px;
    padding-bottom: 108px;
    background-color: #000000;
}

.help-container{
    margin: auto;
    max-width: 600px;
    text-align: center;
}

.need-help{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.paragraph-help{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.help-button{
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    padding-top: 9px;
    padding-bottom: 13px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.help-button:before{
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 6px;
}

footer{
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .container{
    justify-content: space-between;
    align-items: center;
}


footer a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

footer ul{
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.business{
    margin-right: 55px;
}

.image{
    margin-bottom: 20px;
}



footer li{
    margin-bottom: 10px;
    margin-right: 20px;
}

.table{
    display: flex;
    justify-content: flex-end;
}


footer p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

footer h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 36px;
    margin-bottom: 20px;
}

footer h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 36px;
}

footer span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.subscribe{
    border-top: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.subscribe form{
    height: 52px;
    max-width: 458px;
    background: #F9FAFB;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    flex-grow: 1;
}
.subscribe form input{
    font: 400 16px/20px 'Poppins', sans-serif;
    color: #000;
    width: 80%;
    border: none;
    height: 30px;
    background-color: transparent;
}
.subscribe form label{
    display: none;
}
.subscribe form small{
    display: none;
}
.subscribe button{
    width: 15%;
    height: 60%;
    background-color: #000000;
    border: none;
    border-radius: 11px;
    cursor: pointer;
}

.aperture{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aperture-photo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;

}


.social-img{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.container-aperture{
    display: flex;
    justify-content: space-between;
}

.aperture{
    display: flex;
    justify-content: space-between;
}

